@import url('https://www.w3schools.com/w3css/4/w3.css');
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Applies your loaded Google font */
}
.w3-container,.w3-panel {
    padding: 0.01em 16px
}
.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}
.w3-row-padding img {
  margin-bottom: 12px
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
  background-color: black;
}
nav {
  color: white;
}
.some-links-container {
  display: flex;
  justify-content: center;
}
.some-links-container a {
  padding: 0.250rem;
  text-decoration: none;
}
.some-links-container a i {
  font-size: 1.5rem;
}
#playerProfileNav {
  padding: 0;
  margin: 0;
}
#playerProfileNav li {
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
